<h1>終わったら消す</h1>
<% @posts.each do |post| %>
  <div class="posts-all">
    <%= link_to post.content , "/post/#{post.id}" %>
  </div>
<% end %>
<% @users.each do |user| %>
  <div class="users-all">
    <img src="<%= "/user_images/#{user.image_name}"%>">
    <%= link_to user.name , "/user/#{user.id}"  %>
    <%=  user.mail_address  %>
    <%= user.id %>
    <%= image_tag "/user_images/#{user.image_name}", :size =>'30x30' %>
  </div>
<% end %>
