<header>
<h1>ExamnieeCommunity</h1>
<div class="search-form">
  <input type="search" name="search" class="search-var">
  <input type="submit" name="search" value="検索">
</div>
<div class="pulldown-menu">
  <select name="school-year">
    <option value="1">高校1年生</option>
    <option value="2">高校2年生</option>
    <option value="3">高校3年生(文系)</option>
    <option value="4">高校3年生(理系)</option>
  </select>
</div>
</header>
<h2>出品画像 説明が下に続いてる</h2>
<div class="container">
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: '&lt 前へ', next_label: '次へ &gt') %>
    <table class="table table-hover table-striped">
      <tbody>
        <% @posts.each do |post| %>
          <tr class="d-flex">
            <%@user=User.find_by(id: post.user_id) %>
            <td class="col-xs-1"><%= image_tag "/user_images/#{@user.image_name}", :size =>'50x50' %></td>
            <td class="col-xs-2"><%= link_to(@user.name, "/user/#{@user.id}") %></td>
            <td class="col-xs-9"><%= link_to post.content , "/post/#{post.id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: '&lt 前へ', next_label: '次へ &gt') %>
</div>
