<header>
<h1>ExamnieeCommunity</h1>
<%= form_tag("/search/1",{method: "get"}) do %>
<div class="search-form">
  <div class="pulldown-menu">
    <select name="search_option">
      <option value="1">ユーザーを検索</option>
      <option value="2">投稿を検索</option>
    </select>
  </div>
  <input type="search" name="search" class="search-var">
  <input type="submit" value="検索">
</div>
<% end  %>
</header>
<h2>出品画像 説明が下に続いてる</h2>
<div class="container">
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: '&lt 前へ', next_label: '次へ &gt') %>
    <table class="table table-hover table-striped">
      <tbody>
        <% @posts.each do |post| %>
          <tr class="d-flex" id="post-table">
            <%@user=User.find_by(id: post.user_id) %>
            <td class="col-xs-1 post-column post-image"><%= image_tag "/user_images/#{@user.image_name}", :size =>'50x50' %></td>
            <td class="col-xs-2 post-column post-user"><%= link_to(@user.name, "/user/#{@user.id}",class: "editlink") %></td>
            <td class="col-xs-8 post-column post-content"><%= link_to post.content , "/post/#{post.id}",class: "editlink"%></td>
            <td class="col-xs-1 post-column post-heart" ><% if @current_user && Like.find_by(user_id: @current_user.id, post_id: post.id) %>
              <%= link_to( "/like/destroy/#{post.id}", {method: "post"}) do %>
                <span class="fa fa-heart like-btn-unlike"></span>
              <% end %>
            <% else %>
              <%= link_to( "/like/create/#{post.id}", {method: "post"}) do %>
                <span class="fa fa-heart like-btn"></span>
                <% end %>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: '&lt 前へ', next_label: '次へ &gt') %>
</div>
