<img src="<%= "/user_images/#{@post.user_id}"%>">
<%= @post.user_name %>
<%= @post.content %>
<% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
  <%= link_to( "/like/destroy/#{@post.id}", {method: "post"}) do %>
    <span class="fa fa-heart like-btn-unlike"></span>
  <% end %>
<% else %>
  <%= link_to( "/like/create/#{@post.id}", {method: "post"}) do %>
    <span class="fa fa-heart like-btn"></span>
    <% end %>
<% end %>
<% if @current_user && @post.user_id.to_i==@current_user.id %>
<%= link_to("投稿の編集","/post/update/#{@post.id}") %>
<% end %>
