<!DOCTYPE html>
<html>
  <head>
    <title>ExamineeCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/home/top/1">トップ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/about" >このサイトについて</a>
      </li>
      <% if @current_user %>
        <li class="nav-item">
          <form name="form_name" method="delete" action="/logout">
          <a class="nav-link" href="javascript:form_name.submit()" onclick="return confirm('ログアウトしますか?')">ログアウト</a>
          </form>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/post/create">投稿する</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/<%=@current_user.id%>">ユーザー情報</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meetings">スケジュール</a>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link " href="/user/login">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/create">新規登録</a>
      </li>
    <% end %>
    </ul>





    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
